body{
  font-family: Courier, monospace;
  background-color: #000000;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, p, pre, li, a{
  font-family: Courier, monospace;
  font-size: 18pt;
  font-weight: normal;
}
